.contacts-container {
    flex: 1;
    border:1px solid grey;
    display: flex;
    flex-direction: column;
}

.contacts-list {
    height: 100%;
    max-height: 100%;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    height: 60px;
    padding-left: 10px;
}

.item .item-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.item .item-details .item-name {
    font-size: 1em;
    font-weight: 700;
    color: #525252;
}

.item .item-details .item-phone {
    font-weight: 100;
    color: #adadad;
    font-size: .80em;
}